In [1]:
import pandas as pd
import pymysql
import sqlalchemy
import numpy as np
import sklearn
import imblearn
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, plot_confusion_matrix, ConfusionMatrixDisplay
from collections import Counter
from sklearn.metrics import roc_curve, roc_auc_score
from imblearn.under_sampling import TomekLinks
from imblearn.over_sampling import SMOTE

In [3]:
pwd

'/Users/cathalijnvos/Documents/GitHub/MidbootcampProject/datasets'

In [4]:
df=pd.read_excel('regression_data.xls')

In [12]:
df.head(50)

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price
0,7129300520,2014-10-13,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,221900
1,6414100192,2014-12-09,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,538000
2,5631500400,2015-02-25,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,180000
3,2487200875,2014-12-09,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,604000
4,1954400510,2015-02-18,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,510000
5,7237550310,2014-05-12,4,4.50,5420,101930,1.0,0,0,3,...,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930,1230000
6,1321400060,2014-06-27,3,2.25,1715,6819,2.0,0,0,3,...,1715,0,1995,0,98003,47.3097,-122.327,2238,6819,257500
7,2008000270,2015-01-15,3,1.50,1060,9711,1.0,0,0,3,...,1060,0,1963,0,98198,47.4095,-122.315,1650,9711,291850
8,2414600126,2015-04-15,3,1.00,1780,7470,1.0,0,0,3,...,1050,730,1960,0,98146,47.5123,-122.337,1780,8113,229500
9,3793500160,2015-03-12,3,2.50,1890,6560,2.0,0,0,3,...,1890,0,2003,0,98038,47.3684,-122.031,2390,7570,323000
10,1736800520,2015-04-03,3,2.50,3560,9796,1.0,0,0,3,...,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925,662500
11,9212900260,2014-05-27,2,1.00,1160,6000,1.0,0,0,4,...,860,300,1942,0,98115,47.6900,-122.292,1330,6000,468000
12,114101516,2014-05-28,3,1.00,1430,19901,1.5,0,0,4,...,1430,0,1927,0,98028,47.7558,-122.229,1780,12697,310000
13,6054650070,2014-10-07,3,1.75,1370,9680,1.0,0,0,4,...,1370,0,1977,0,98074,47.6127,-122.045,1370,10208,400000
14,1175000570,2015-03-12,5,2.00,1810,4850,1.5,0,0,3,...,1810,0,1900,0,98107,47.6700,-122.394,1360,4850,530000
15,9297300055,2015-01-24,4,3.00,2950,5000,2.0,0,3,3,...,1980,970,1979,0,98126,47.5714,-122.375,2140,4000,650000
16,1875500060,2014-07-31,3,2.00,1890,14040,2.0,0,0,3,...,1890,0,1994,0,98019,47.7277,-121.962,1890,14018,395000
17,6865200140,2014-05-29,4,1.00,1600,4300,1.5,0,0,4,...,1600,0,1916,0,98103,47.6648,-122.343,1610,4300,485000
18,16000397,2014-12-05,2,1.00,1200,9850,1.0,0,0,4,...,1200,0,1921,0,98002,47.3089,-122.210,1060,5095,189000
19,7983200060,2015-04-24,3,1.00,1250,9774,1.0,0,0,4,...,1250,0,1969,0,98003,47.3343,-122.306,1280,8850,230000
20,6300500875,2014-05-14,4,1.75,1620,4980,1.0,0,0,4,...,860,760,1947,0,98133,47.7025,-122.341,1400,4980,385000
21,2524049179,2014-08-26,3,2.75,3050,44867,1.0,0,4,3,...,2330,720,1968,0,98040,47.5316,-122.233,4110,20336,2000000
22,7137970340,2014-07-03,5,2.50,2270,6300,2.0,0,0,3,...,2270,0,1995,0,98092,47.3266,-122.169,2240,7005,285000
23,8091400200,2014-05-16,2,1.50,1070,9643,1.0,0,0,3,...,1070,0,1985,0,98030,47.3533,-122.166,1220,8386,252700
24,3814700200,2014-11-20,3,2.25,2450,6500,2.0,0,0,4,...,2450,0,1985,0,98030,47.3739,-122.172,2200,6865,329000
25,1202000200,2014-11-03,3,2.00,1710,4697,1.5,0,0,5,...,1710,0,1941,0,98002,47.3048,-122.218,1030,4705,233000
26,1794500383,2014-06-26,3,1.75,2450,2691,2.0,0,0,3,...,1750,700,1915,0,98119,47.6386,-122.360,1760,3573,937000
27,3303700376,2014-12-01,3,1.00,1400,1581,1.5,0,0,5,...,1400,0,1909,0,98112,47.6221,-122.314,1860,3861,667000
28,5101402488,2014-06-24,3,1.75,1520,6380,1.0,0,0,3,...,790,730,1948,0,98115,47.6950,-122.304,1520,6235,438000
29,1873100390,2015-03-02,4,2.50,2570,7173,2.0,0,0,3,...,2570,0,2005,0,98052,47.7073,-122.110,2630,6026,719000
30,8562750320,2014-11-10,3,2.50,2320,3980,2.0,0,0,3,...,2320,0,2003,0,98027,47.5391,-122.070,2580,3980,580500
31,2426039314,2014-12-01,2,1.50,1190,1265,3.0,0,0,3,...,1190,0,2005,0,98133,47.7274,-122.357,1390,1756,280000
32,461000390,2014-06-24,4,1.75,2330,5000,1.5,0,0,4,...,1510,820,1929,0,98117,47.6823,-122.368,1460,5000,687500
33,7589200193,2014-11-10,3,1.00,1090,3000,1.5,0,0,4,...,1090,0,1929,0,98117,47.6889,-122.375,1570,5080,535000
34,7955080270,2014-12-03,4,2.75,2060,6659,1.0,0,0,3,...,1280,780,1981,0,98058,47.4276,-122.157,2020,8720,322500
35,9547205180,2014-06-13,3,2.50,2300,3060,1.5,0,0,3,...,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264,696000
36,9435300030,2014-05-28,4,1.00,1660,34848,1.0,0,0,1,...,930,730,1933,0,98052,47.6621,-122.132,2160,11467,550000
37,2768000400,2014-12-30,4,2.00,2360,6000,2.0,0,0,4,...,2360,0,1904,0,98107,47.6702,-122.362,1730,4700,640000
38,7895500070,2015-02-13,4,1.00,1220,8075,1.0,0,0,2,...,890,330,1969,0,98001,47.3341,-122.282,1290,7800,240000
39,2078500320,2014-06-20,4,2.50,2620,7553,2.0,0,0,3,...,2620,0,1996,0,98056,47.5301,-122.180,2620,11884,605000
40,5547700270,2014-07-15,4,2.50,2570,5520,2.0,0,0,3,...,2570,0,2000,0,98074,47.6145,-122.027,2470,5669,625000
41,7766200013,2014-08-11,4,2.25,4220,24186,1.0,0,0,3,...,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617,775000
42,7203220400,2014-07-07,5,2.75,3595,5639,2.0,0,0,3,...,3595,0,2014,0,98053,47.6848,-122.016,3625,5639,861990
43,9270200160,2014-10-28,3,1.00,1570,2280,2.0,0,0,3,...,1570,0,1922,0,98119,47.6413,-122.364,1580,2640,685000
44,1432701230,2014-07-29,3,1.00,1280,9656,1.0,0,0,4,...,920,360,1959,0,98058,47.4485,-122.175,1340,8808,309000
45,8035350320,2014-07-18,3,2.50,3160,13603,2.0,0,0,3,...,3160,0,2003,0,98019,47.7443,-121.977,3050,9232,488000
46,8945200830,2015-03-25,3,1.00,990,8528,1.0,0,0,3,...,990,0,1966,0,98023,47.3066,-122.371,1228,8840,210490
47,4178300310,2014-07-16,4,2.50,2290,13416,2.0,0,0,4,...,2290,0,1981,0,98007,47.6194,-122.151,2680,13685,785000
48,9215400105,2015-04-28,3,1.75,1250,5963,1.0,0,0,4,...,1250,0,1953,0,98115,47.6796,-122.301,970,5100,450000
49,822039084,2015-03-11,3,2.50,2753,65005,1.0,1,2,5,...,2165,588,1953,0,98070,47.4041,-122.451,2680,72513,1350000

# data quality check, managing duplicates

In [7]:
df.duplicated().sum() # count duplicates

0

In [8]:
df[df.duplicated(keep=False)] # see duplicates

Empty DataFrame
Columns: [id, date, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15, price]
Index: []

[0 rows x 21 columns]

In [9]:
df = df.drop_duplicates()# drop duplicate and replaces the data frame

In [10]:
df.reset_index(drop=True, inplace=True)# after dropping rows, reset index

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21597 non-null  int64
 1   date           21597 non-null  datetime64[ns]
 2   bedrooms       21597 non-null  int64
 3   bathrooms      21597 non-null  float64
 4   sqft_living    21597 non-null  int64
 5   sqft_lot       21597 non-null  int64
 6   floors         21597 non-null  float64
 7   waterfront     21597 non-null  int64
 8   view           21597 non-null  int64
 9   condition      21597 non-null  int64
 10  grade          21597 non-null  int64
 11  sqft_above     21597 non-null  int64
 12  sqft_basement  21597 non-null  int64
 13  yr_built       21597 non-null  int64
 14  yr_renovated   21597 non-null  int64
 15  zipcode        21597 non-null  int64
 16  lat            21597 non-null  float64
 17  long           21597 non-null  float64
 18  sqft_living15  21597 non-null  int64
 19  sqft_lot15     21597 non-null  int64
 20  price          21597 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(16)
memory usage: 3.5 MB

In [ ]:
pip install pgeocode

In [ ]:
dist = pgeocode.GeoDistance('fr')
>>> dist.query_postal_code("75013", "69006")
389.156
>>> dist.query_postal_code(["98039"], ["69006", "69005", "69004"])
array([ 389.15648697,  390.12577967,  390.49857655])